.button {
    background-color: #1d293f;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin: 32px 0;
}

.button:hover{
    color: rgb(196, 219, 246);
}